
Button {
	border: none /* Removes defult button styling */
}


/* ToolMenu {
	border: solid white;
	width: 20;
}
ToolMenu Button {
	# height: 3;
	# background: grey;
	border-bottom: heavy grey;
}
ToolPage {
	height: 100%;
	border: solid white;
	
} */



# - - - HomeScreen - - - #

#home-page {
	width: 100%;
	content-align: center top;
}
# Home screen banner title.
#title {
	margin: 1 0;
	text-align: center;
	# border-bottom: heavy grey;
}

# Main tools display container.
#tool-display {
	padding: 0 8;
}

# Tool display columns
HomeScreen Vertical {
	margin: 0 4;
}

# Tool groups within columns
.group-container {
	width: 20;
	margin-bottom: 1;
	border-bottom: heavy white;
}

# A [Tool Group's] title.
.group-title {
	width: 20;
	text-align: center;
	border-top: heavy white;
	border-bottom: solid white;
	# background: #363636ff;
}

# Container for tools in a [Tool Group]
.group-tool-list {# , ListView {
	height: auto;
	width: 18;
	margin: 0 1;
	# padding: 0 2;
	border: none;
	border-left: heavy grey;
}

# Tool group's contents
.group-tool-list Button {
	# width: 100%;
	align: left top;
	text-align: left;
} # , ListItem {}

.conversion-option {
	width: 100%;
	text-align: left;
}
.text-tool-option {
	# width: 100%;
	# text-align: left;
}




.test {
	border: solid red;
	background: blue;
}